<!-- Наследование от default.html -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название OneNews -->
{% block title %}
Post
{% endblock title %}

<!-- Выводим новость -->
{% block content %}
    <table>
        <tr>
            <td>
                <h3>
                    {{ post.title|censor }}
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <i>
                {{ post.pub_time|date:'d.m.Y' }}
                &nbsp Подписаться: 
                {% for category in post.categories.all %}
                    <span style="border: 1px solid #000"><a href="">{{category}}</a></span>&nbsp 
                {% endfor %}
                </i>
            </td>
        </tr>
        <tr>
            <td>
                {{ post.text|censor }}
            </td>
        </tr>
    </table>
{% endblock content %}